= form_for [todo_item, worklog], html:{ class: 'new-worklog-form' } do |f|
  = f.text_field :duration_human, :required => true, :placeholder => '1h 40m', class: 'large-2 columns'
  = f.submit class: 'button'
