%table
  %thead
    %tr
      %th{ :width => '60'} Date
      %th{ :width => '100'} Duration
      %th Task
      %th{ :width => '100'} User
  - for worklog in worklogs do
    %tr
      %td= l worklog.log_date, :format => :short
      %td= minutes_to_units worklog.duration
      %td= worklog.todo_item
      %td= worklog.user
