.fourcol
  = render 'form'
.fourcol
  %h2 Hey, what's this?
  %p Dodo is a task management tool, inspired by popular services, like Basecamp, Todoist or Megaplan. I'ts main goal is to provide very simple, intuitive and useful service &laquo;for blondies&raquo;.
.fourcol.last
  %h2 More info...

