.threecol
  %h2 Куда я попал?
  %p Dodo &mdash; инструмент для управления задачи, навеян такими популярными сервисами, как Basecamp, Todoist или Мегаплан. Его главная цель &mdash; предоставить очень простой, интуитивно понятный и полезный сервис &laquo;для блондинок&raquo;
.threecol
  %h2 Зачем мне пользоваться этим?
  %ul
    %li Вам нужен простой и в то же время рабочий инструменя для отслеживания ваших задач
    %li Вы работаете над каким-то проектом самостоятельно или вместе с друзьями
    %li Вы уже пробовали другие инструменты для управления задачами и они показались вам слишком сложными
.threecol
  %h2 А проект уже готов?
  %p Dodo находится на этапе бета-версии и наверняка все еще содержит много ошибок (но все еще способен выполнять то, для чего он задуман), поэтому не стесняйтесь сообщать о них.
.threecol.last
  %h2 Ну-с, приступим!
  = render 'form'

