.row
  .large-12.columns
    = render 'form'

    =link_to raw("&larr;#{todo_item.todo_list.title}"), todo_list_path(todo_item.todo_list)
    -#= link_to 'Show', todo_list_todo_item_path(todo_list, todo_item)
