- if current_user
  = link_to root_url do
    %span.icon.icon-home
    Dashboard

  -#- if todo_list
    -#- if !todo_list.new_record?
      -#&raquo;
      -#= link_to todo_list.title, todo_list_path(todo_list)
