%nav.top-bar.fixed.contain-to-grid
  %ul.title-area
    %li.name
      %h1
        = link_to 'Dodo', root_url
        -##beta-sign βετα
  %section.top-bar-section
    = render 'shared/top_nav'
    = render 'shared/login_bar'
