%header
  .row
    .three.columns
      %h1#logo
        = link_to 'Dodo', root_url
        #beta-sign βετα
    .five.columns
      %nav.top-nav= render 'shared/top_nav'
    .four.columns.last
      .login-bar= render 'shared/login_bar'
