%script{ :type => 'text/html', :id => 'todo-list-template' }
  %li
    %article{ :class => "todo-list {{#is_complete? }} complete {{/is_complete?}}" }
      %h4.title
        %a{ :class => 'remote-link link-show link-icon icon-show', :href => '/todo_lists/{{id}}' } {{title}}
      .actions
        %a{ :class => 'remote-link link-icon icon-edit', :href => '/todo_lists/{{id}}/edit' }= '[=]'
        %a{ :class => 'remote-link link-icon icon-delete', :href => '/todo_lists/{{id}}/destroy', :'data-bind' => 'click : remove' }= '[X]'
%script{ :type => 'text/html', :id => 'todo-item-template' }
  %li
    %article{ :class => "todo-item {{#is_complete }} complete {{/is_complete}}", :id => "todo-item_{{id}}" }
      %h4.title
        %a{ :class => 'remote-link link-icon icon-edit', :href => '/todo_items/{{id}}' } {{title}}
      .actions
        %a{ :class => 'remote-link link-icon icon-edit', :href => '/todo_items/{{id}}/edit' }= '[=]'
        %a{ :class => 'remote-link link-icon icon-delete', :href => '/todo_items/{{id}}/destroy' }= '[X]'
        %a{ :class => 'remote-link link-icon icon-complete', :href => '/todo_items/{{id}}/complete' }= '[V]'
        %a{ :class => 'remote-link link-icon icon-incomplete', :href => '/todo_items/{{id}}/incomplete' }= '[0]'
