- if current_user
  %ul.left
    -#%li
      -#= link_to projects_url do
        -#%i.foundicon-folder
        -#= t :'site.nav.projects'
    -#%li
      -#= link_to todo_lists_url do
        -#%i.foundicon-lock
        -#= t :'site.nav.todo_lists'
    %li
      = link_to worklogs_url do
        %i.foundicon-calendar
        = t :'site.nav.time_logs'
