- if current_user
  %ul
    %li
      = link_to root_url do
        %span.icon.icon-home
        Dashboard
    %li
      = link_to projects_url do
        %span.icon.icon-block
        Projects
    %li
      = link_to todo_lists_url do
        %span.icon.icon-document-task
        Todo Lists
