%li
  %article.invitation
    %strong
      %span.icon.icon-block-small
      = link_to invitation.project, invitation.project
    by
    %em= invitation.inviter
    %br/
    = link_to accept_collaborator_path(invitation) do
      %span.icon.icon-tick-button
      Accept
    \|
    = link_to collaborator_path(invitation), :method => :delete, :confirm => 'Are you sure?' do
      %span.icon.icon-slash-button
      Decline
