= form_tag project_invitations_path(project) do
  .row.collapse
    .small-10.columns
      = text_field_tag :email, '', :placeholder => t(:'helpers.placeholder.collaborator.email')
    .small-2.columns
      = submit_tag 'Invite', class: 'button prefix'
