%li
  %article.project
    %h3
      %span.icon.icon-block
      = link_to project, project
    .description= project.description
    - unless project.users.empty?
      %hr/
      .users
        %h4
          %span.icon.icon-block-share
          Shared with:
        - for user in project.users
          = link_to user do
            - if user.accepted_project?(project)
              %span.icon.icon-user
            - else
              %span.icon.icon-user-question
            = user
