%li( class="#{'active' if project.id.to_i == params[:id].to_i}")
  -#%article.project
    -#%h4.project-title
      -#%span.icon.icon-block
  = link_to project, project
  -#.description= project.description
