body{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.label a, .panel a{
  color: #fff;
}
