/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint/src/reset
 *= require blueprint/src/typography
 *= require blueprint/src/forms
 *= require 1140cssgrid/1140.css
 *= require_self
 *= require_tree .
*/

body {
  background-color: #e0e0e0;
}

header {
  min-height: 5em;
}

#main {
  padding: 2em 0;
  background-color: #f8f8f8;
}

#content {
  min-height: 300px;
}

input, textarea, select {
}

textarea {
  height: 4em;
}
