// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects
  list-style: none
  padding: 0
  margin: 1em 0

.project
  .project-title
    display: block
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    margin: 0
    width: 100%
