// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo-lists{
  list-style: none;
  //background: #f1f1f1;
  //border: 1px solid #d2d2d2;
  //padding: 1em;
  margin: 1em 0;
}

.hover, .todo-list:hover, .todo-item:hover{
  .actions{
    display: inline-block;
  }
}

.todo-list{
  margin-bottom: 1em;
}

.todo-list, .todo-item {
  .actions{
    display: none;
  }
}

.todo-list.complete, .todo-item.complete {
  .title{
    text-decoration: line-through;
  }
}


.is-complete, .title{
  display: inline-block;
}

.drag-handle {
  background: #f1f1f1;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  display: none;
  height: 1.5em;
  vertical-align: top;
  width: 4px;
}

.sortable {
  .drag-handle{
    display: inline-block;
  }
}
