// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todo-items{
  margin: 1em 0;
}

.todo-item{
  min-height:2em;
  padding: .25em;
  .comments{
    font-size: 75%;
  }
}

#todo-item{
  .item-title{
    margin-bottom: 0;
  }
}

.assignee {
  border-radius: 1em;
  background: #f5f5f5;
  padding: 0.25em 1em;
}

.is-complete{
  opacity: 0.33;
}

.complete .is-complete{
  opacity: 1;
}
