// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#todo-items{
  margin: 1em 0;
}

.todo-items {
  padding: 0;
  margin-bottom: 1em;
  .todo-item{
    margin-bottom: .5em;
  }
}

.todo-item{
  .comments{
    //color: #777;
    font-size: 75%;
  }
  .actions{
    margin: -8px 0;
  }
  form {
    margin: 0;
  }

}
#todo-item{
  .item-title{
    margin-bottom: 0;
  }
}

.assignee {
  border-radius: 1em;
  background: #f5f5f5;
  padding: 0.25em 1em;
}
