// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo-lists{
  list-style: none;
  padding: 0;
  margin: 1em 0;
  h3, h4, h5{
    margin: 0;
  }
}

.todo-list{
  margin-bottom: 1em;
}


.complete {
  .item-title{
    text-decoration: line-through;
  }
}

.todo-item.expired{
  .item-title a{
    color: red;
  }
}

.drag-handle, .is-complete, .item-title{
  display: inline-block;
  margin: 0;
}

.drag-handle {
  background: #f1f1f1;
  border: 1px solid #d2d2d2;
  color: #999;
  cursor: move;
  display: none;
  height: 1.5em;
  vertical-align: top;
  text-align: center;
  width: 1.2em;
}

.sortable {
  .drag-handle{
    display: inline-block;
  }
}

.item-title{
  margin-bottom: 0;
}
