body {
  background: #f8f8f8;
}


#ajax {
  border: 1px solid #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

h1,h2,h3,h4,h5,h6{
  /*font-family: Georgia, serif;*/
  font-weight: normal;
}
/* FORMS */

textarea {
  height: 4em;
}

/* /FORMS */

.flash-message {
  //background-color: transparent;
  background-position: 1em 50%;
  background-repeat: no-repeat;
  border-left: 0;
  border-right: 0;
  //font-size: 150%;
  font-weight: bold;
  left: 0;
  opacity: 0.95;
  //padding-left: 3em;
  padding: 0;
  position: fixed;
  text-align: center;
  //top: 0;
  top: -2px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px #444;
}

.flash-message.notice {
  background-image: url('fugue-icons/information.png');
}

/* UTILS */
ul.unstyled {
  list-style: none;
  padding: 0;
}
/* /UTILS */
